@{
    ViewBag.Title = "Добавление мероприятия";
    Layout = "_Layout";
    DateTime now =DateTime.Now;
}

<div id="message"></div>
<h2>Заполните форму чтобы добавить мероприятие | <a asp-controller="Home" asp-action="Index">К расписанию</a></h2>
@now
<div class="add-event-wrap">
    <form id="add-event-form" class="add-event-form" asp-action="SubmitEvent" onsubmit="submitForm(event)">
        <button type="submit" class="submit-event-button">Подтвердить мероприятие</button>
        <div class="form-el">
            <label for="event-name">Наименование мероприятия:</label>
            <input required type="text" id="event-name" name="EventName">
        </div>
        <div class="form-el">
            <label for="VisitorsCount">Количество посетителей:</label>
            <input type="number" id="VisitorsCount" name="VisitorsCount">
        </div>
        <input type="hidden" id="eventDateTime" name="EventDateTime">
        <input type="hidden" id="eventParams" name="Params">
    </form>
    <div id="forForm">
        <div class="form-el">
            <label for="EventDate">Дата мероприятия:</label>
            <input required type="date" id="EventDate" name="EventDate" >
        </div>
        <div class="form-el">
            <label for="EventTime">Время мероприятия:</label>
            <input required type="time" id="EventTime" name="EventTime" value="@now">
        </div>
        <i class="fas fa-plus" onclick="openModal()"></i>
    </div>
</div>
<div id="modal">
    <div id="modal-head"><h3>Добавление нового параметра мероприятия</h3></div>
    <div id="modal-body">
        <label for="new-param-name">Имя нового параметра</label>
        <input type="text" id="new-param-name">
    </div>
    <div id="modal-foot">
        <div onclick="submitModal()">Принять</div>
        <div onclick="hideModal()">Отмена</div>
    </div>
</div>
<div id="overlay"></div>