
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2 class="form-heading">Подтверждение регистрации | <a asp-controller="Home" asp-action="Index">К распсанию</a></h2>
<p>@ViewData["Message"]</p>