@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Регистрация на мероприятие: @Model.Event.EventName | <a asp-action="Index">К расписанию</a></h2>
<div class="regist-form-wrap">
    <form method="post" asp-controller="User" asp-action="SendSubmitEmail">
        <button type="submit" class="submit-event-button">Submit</button>
        <div>
            <label for="first-name">Логин</label>
            <input required type="text" id="first-name" name="Lo">
        </div>
    </form>
</div>
